BasedOnStyle: LLVM
Standard: Cpp11
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -4
NamespaceIndentation: None
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
ReflowComments: false
SpacesInAngles: Never
Cpp11BracedListStyle: true
